__*
.env
node_*
uploaded_documents/*
front-chatdoc/node*
backend/data/uploads/*
backend/data/parsed/*
backend/data/indexes/*
backend/data/metadata/*.json
backend/data/sessions/*.json
!backend/data/uploads/.gitkeep
!backend/data/parsed/.gitkeep
!backend/data/indexes/.gitkeep
!backend/data/metadata/.gitkeep
!backend/data/sessions/.gitkeep
front-chatdoc/dist
backend/data/uploads/*
backend/data/parsed/*
backend/data/indexes/*
backend/data/metadata/*.json
backend/data/sessions/*.json
!backend/data/uploads/.gitkeep
!backend/data/parsed/.gitkeep
!backend/data/indexes/.gitkeep
!backend/data/metadata/.gitkeep
!backend/data/sessions/.gitkeep
front-chatdoc/dist
